@use "../base/variables" as *;

.hero{
    min-height: 100vh;
    display:flex;
    align-items:center;
    padding-top: 100px;
    position: relative;
    overflow:hidden;
    
    &__content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items:center;
        gap: 40px;
    }

    &__text{

        .hero__intro{
            color: $primary;
            margin-bottom: 10px;
            font-size: 1.3rem;
            font-weight: 600;
            width: fit-content;
             

        }
       h1{

    display:flex;
    flex-direction:column;

    font-size: clamp(3.5rem, 8vw, 5.5rem);

    line-height:.95;

    margin-bottom:27px;

    font-weight:800;

    max-width:900px;

  

    .white{
      color:white;
    }

    .blue{
      background:
        linear-gradient(
          135deg,
          $primary,
          $secondary
        );

      -webkit-background-clip:text;
      background-clip:text;

      -webkit-text-fill-color:transparent;
    }
}
    .description{
        font-size: 1.1rem;
        color:$text;
        line-height: 1.8;
        max-width: 520px;
    }
    }
}

.tags{
    display: flex;
    gap:15px;
    margin-top: 40px;
    flex-wrap: wrap;
   

    span{
        padding:12px 20px;
        background-color: $card;
        border: 1px solid $border;
        backdrop-filter: blur(10px);
        border-radius: 8px;
        transition: .3s;
        color:$textGray;
        font-size: 0.95rem;
        &:hover{
            transform:translateY(-4px);
            box-shadow: $shadow;
           
            
        }
    }
}

.hero__card {
    width:380px;
    height:380px;

    margin-left: auto;
   
    border-radius:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    border: 1px solid $border;
    position: relative;
    background: linear-gradient(
        135deg,
        #7c3aed33,
        #3b82f61a
    );
    
    backdrop-filter: blur(10px);

    box-shadow: $shadow;
    overflow:hidden;

    &::before{
        content: "";
        position: absolute;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: radial-gradient(
            circle, rgba(124,58,237,.1),
            transparent 70%
        );
        filter: blur(50px);
    }

    .icon{
        position:relative;
        z-index: 2;
        font-size: 5rem;
        font-weight: 800;
        color: $primary;
        filter:
        drop-shadow(0 0 25px #7c3aedcc);
    }
}
@media (max-width:900px) {

    .hero{
        padding-top: 140px;

        &__content{
            grid-template-columns: 1fr;
            text-align: center;
        }
        &__text{
            h1{
                font-size:4rem;
            }
            .description{
                margin: 20px auto;
            }
        }
        .tags{
            justify-content: center;
        }
        .hero__card{
            margin: 40px auto 0;
            width:300px;
            height:300px;
        }
        .icon{
            font-size: 5rem;
        }
    }
}
  
    
