@use "../base/variables" as *;

.navbar{
    width: 100%;
    //height: 90px;
    padding:25px 0;
    position:  fixed;
    transition: .4s;
    
    top:0;
    z-index:1000;
    backdrop-filter: blur(18px);
    background: linear-gradient(
            135deg,
            #7c3aed33,
            #3b82f61a
        );
    
        border-left: 1px solid 
        rgba(255,255,255,.8);
    
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.3rem;
    font-weight: 700;
  
        span{
            color: $primary;
        }

        svg {
            font-size: 2rem;
        }
}

.navLinks{
    display:flex;
    gap:40px;

    li{
       list-style: none;
       a{
        position:relative;
        color:$text;
        text-decoration: none;
        transition: .3s;

        &:hover{
            color:$primary;
        }
        &::after{
            content:"";
            position: absolute;
            left:0;
            bottom:-8px;
            width:0;
            height:2px;
            background:$primary;
            transition: .3s;
        }
        &:hover::after{
            width:100%;
       }
    }
}
}
.menuButton{
    
    display:none;

    background: none;

    border: none;

    color: $text;

    font-size: 2rem;

    cursor: pointer;

    z-index: 2000;

    position: fixed;

    top:30px;
    
    right:30px;
}

@media (max-width: 768px){

    .menuButton{
        display:block;
    }

    .navLinks{
        position:fixed;
        top:0;
        right:-100%;
        width:280px;
        height:100vh;
        background: rgba(10,10,15,.95);
        backdrop-filter: blur(16px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:50px;
        transition: .4s;
        border-left:
            1px solid rgba(255, 255, 255, 0.6);
        z-index: 1500;

        &--active{
            right:0;
        }

        li{
            font-size: 1.2rem;
        }

    }
}
